<mat-card>
  <mat-card-header>
    <mat-card-title>Modulo de impacto urbano</mat-card-title>
    <mat-card-subtitle>Detalle de impacto urbano</mat-card-subtitle>
    <span fxFlex></span>
    <button mat-icon-button (click)="navigateBack()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Detalle">
        <proyecto-dataform></proyecto-dataform>
      </mat-tab>
      <mat-tab label="Opiniones">
        <opinion-dataform></opinion-dataform>
      </mat-tab>
      <mat-tab label="Medidas">
        <medidas-listado></medidas-listado>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
