<div class="login-body">
    <div class="login-panel ui-fluid">
        <div class="ui-g">
            <div class="ui-g-12 logo-container">
                <img src="assets/images/pimalogo.png"/>
                <h1>Cambiar contraseña</h1>
            </div>
            <div fxLayout="column" fxFlex="100">
                <mat-form-field fxFlex="100"  fxFlex.sm="100">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" [(ngModel)]="password" placeholder="Contraseña">
                </mat-form-field>
                <mat-form-field fxFlex="100"  fxFlex.sm="100">
                    <mat-label>Confirmación de contraseña</mat-label>
                    <input matInput  type="password" [(ngModel)]="confirme_password" placeholder="Confirme de contraseña">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxFlex="100" >
                <button mat-raised-button (click)="changePassword()" color="primary" fxFill fxFlexFill>Cambiar contraseña</button>
            </div>
            <div fxLayout="row"  fxFlex="100" fxLayoutAlign="end">
                <span><a (click)="home()">Ir a inicio</a></span>
            </div>
        </div>
    </div>
</div>
