
<div class="login-body">
    <app-loading [hidden]="loading"></app-loading>
    <div class="login-panel ui-fluid">
        <div class="ui-g">
            <div class="ui-g-12 logo-container">
                <img src="assets/images/pimalogo.png"/>
                <h1>Bienvenido(a)</h1>
                <h2>Ingresa tu datos</h2>
            </div>

            <div fxLayout="row" fxFlex="100">
                <mat-form-field fxFlex="100" appearance="outline">
                    <mat-label>Nombre del usuario</mat-label>
                    <input matInput placeholder="Nombre del usuario" [(ngModel)]="username" name="username" required>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxFlex="100">
                <mat-form-field fxFlex="100" appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput placeholder="contraseña" [(ngModel)]="password" type="password" name="password" required>
                </mat-form-field>
            </div>
            <div fxLayout="row"  fxFlex="100">
                <button mat-raised-button fxFlex="100" (click)="login()" color="primary" style="margin-top:12px;">Login</button>
            </div>

            <div fxLayout="row"  fxFlex="100">
                <span>Olvidaste tú contraseña? <a (click)="restorechange()">Click Aqui</a></span>
            </div>
        </div>
    </div>
</div>

