<div fxLayout="row" style="height:100%">
    <div fxFlex="60" fxHide.xs="true" fxHide.sm="true" class="image"></div>
    <div fxLayout="column"
         fxFlex="40"
         fxFlex.xs="100"
         fxFlex.sm="100"
    >
        <div fxLayoutAlign="center center" class="mt-1">
            <img src="./assets/images/logo_cdmx.png" style="width: 50%;" />
            <img src="./assets/images/logo_dependencia.png" style="width: 50%;" />
        </div>
        <mat-card fxLayout="column" fxLayoutAlign="center">
            <h2 fxLayout="row" fxLayoutAlign="center center" class="MuiTypography-h5">
                Proyecto de Dictaminacion
            </h2>
		    <h3 fxLayout="row" fxLayoutAlign="center center" class="MuiTypography-h5">
                Dictamen de Impacto Urbano
            </h3>
            
            <div fxLayout="row">
                <mat-form-field fxFlex="100" appearance="outline">
                    <mat-label>Nombre del usuario</mat-label>
                    <input matInput placeholder="Nombre del usuario" [(ngModel)]="username" name="username" required>
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="100" appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput placeholder="contraseña" [(ngModel)]="password" type="password" name="password" required>
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-checkbox>Recordar contraseña</mat-checkbox>
            </div>
            <br/>
            <div fxLayout="row">
                <button mat-raised-button fxFlex="100" (click)="login()" color="primary" style="margin-top:12px;">Login</button>
            </div>
        </mat-card>
    </div>
</div>

