<mat-selection-list #shoes>
	<mat-list-option>
		<h3 matLine>02/02/2019</h3>
		<p matLine>
			Medida de integracion
		</p>
	</mat-list-option>
	<mat-list-option>
		<h3 matLine>02/02/2019</h3>
		<p matLine>
			Medida de integracion
		</p>
	</mat-list-option>
	<mat-list-option>
		<h3 matLine>02/02/2019</h3>
		<p matLine>
			Medida de integracion
		</p>
	</mat-list-option>
	<mat-list-option>
		<h3 matLine>02/02/2019</h3>
		<p matLine>
			Medida de integracion
		</p>
	</mat-list-option>
	<mat-list-option>
		<h3 matLine>02/02/2019</h3>
		<p matLine>
			Medida de integracion
		</p>
	</mat-list-option>
	<mat-list-option>
		<h3 matLine>02/02/2019</h3>
		<p matLine>
			Medida de integracion
		</p>
	</mat-list-option>
</mat-selection-list>
