<mat-nav-list>
	<mat-list-item>
		<mat-checkbox mat-list-icon></mat-checkbox>
		<h3 matLine>02/02/2019</h3>
		<p matLine>Medida de integracion</p>
		<a mat-icon-button routerLink="/medida/detalle">
			<mat-icon>description</mat-icon>
		</a>
	</mat-list-item>
	<mat-list-item>
		<mat-checkbox mat-list-icon></mat-checkbox>
		<h3 matLine>05/08/2019</h3>
		<p matLine>Medida de integracion 2</p>
		<a mat-icon-button>
			<mat-icon>description</mat-icon>
		</a>
	</mat-list-item>
	<mat-list-item>
		<mat-checkbox mat-list-icon></mat-checkbox>
		<h3 matLine>10/10/2019</h3>
		<p matLine>Medidas de integracion 3</p>
		<a mat-icon-button>
			<mat-icon>description</mat-icon>
		</a>
	</mat-list-item>
</mat-nav-list>
