	<mat-card>
	   <mat-card-header>
	      <mat-card-title>Modulo de proyecto</mat-card-title>
        <mat-card-subtitle>Listado de proyectos</mat-card-subtitle>
        <span fxFlex></span>
        <button mat-icon-button (click)="navigateBack()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
	   </mat-card-header>
	   <mat-card-content>
	      <div fxLayout="row" fxLayoutAlign="end center">
		 <mat-form-field>
		   <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
		 </mat-form-field>
         <a mat-icon-button matTooltip="Nuevo Registro" routerLink="/proyecto/registro">
           <mat-icon>add_box</mat-icon>
         </a>
		</div>
      <table mat-table #table [dataSource]="dataSource" matSort>

        <!-- Position Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="opinion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Opínion </th>
          <td mat-cell *matCellDef="let element"> {{element.opinion}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
          <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
        </ng-container>

        <!-- Checkbox Column -->
        <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef>

          </th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button matTooltip="Detalle del proyecto" routerLink="/proyecto/detalle">
      	      <mat-icon>list</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Eliminar proyecto">
      	      <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator #paginator  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
   </mat-card-content>
</mat-card>
