:host ::ng-deep {
  height: 100%;
}

.layout-content{
  width: 100%;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.button-tooltip {
  margin-top: 16px;
}

.tooltip {
  background: #ff9c00;
}
