<form class="new-person-form">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Modulo de opinion</mat-card-title>
      <mat-card-subtitle>Registro de peticion de opinion</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content fxLayout="column">
	<div fxLayout="row" > 
	  <mat-label fxFlex="40" fxLayoutAlign="start center">Nombre de dependencia:</mat-label>
	  <mat-form-field fxFlex="60" appearance = "standard">
            <input matInput placeholder="Nombre de dependencia">
          </mat-form-field>
	</div>

	<div fxLayout="row">
	  <mat-label fxFlex="40" fxLayoutAlign="start center">Numero de folio:</mat-label>
          <mat-form-field fxFlex="60" appearance = "standard">
	    <input matInput placeholder="Numero de folio">
          </mat-form-field>
	</div>

	<div fxLayout="row">
	  <mat-label fxFlex="40" fxLayoutAlign="start center">Fecha de folio:</mat-label>
	  <mat-form-field fxFlex="60" appearance = "standard">
	    <input matInput placeholder="Fecha de folio">
	  </mat-form-field>
	</div>

	<div fxLayout="row">
	  <mat-label fxFlex="40" fxLayoutAlign="start center">Documento/Folio:</mat-label>
	  <input type="file" placeholder="Carga de documento">
	</div>

	<div fxLayout="row" fxLayoutAlign="end center">
	  <button mat-raised-button color="primary"><mat-icon>save</mat-icon>Registrar opinion</button>
	</div>
		  <opinion-listado></opinion-listado>
      </mat-card-content>
  </mat-card>
</form>
