/* $cards
 ------------------------------------------
 */
$mat-card-header-size: 40px !default;
body {
    .mat-card {
        margin: ($gutter/3);
        height: auto;
        @include mat-elevation(1);
        color: #1C1C1C;
        padding: 0px;
        > :first-child {
            border-radius: $border-radius-base $border-radius-base 0 0;
        }
        > :last-child {
            border-radius: 0 0 $border-radius-base $border-radius-base;
        }
        .mat-card-header {
            background-color: #009288;
            -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            padding-top: 12px;
            .mat-icon-button {
                color: white !important;
            }
        }
        .mat-card-content {
            margin-top: 10px;
            padding: 12px 12px;
        }
        .mat-card-actions {
            margin-bottom: 0px !important;
            padding: 12px 12px;
        }
        .mat-card-title {
            color: #FFFFFF;
            line-height: 1;
            font-size: 16px;
            font-weight: 400;
        }
        .mat-card-subtitle {
            color: #FFFFFF;
            line-height: 1;
            font-size: 13px;
        }
        .content-full,
        >hr {
            width: calc(100% + 48px);
            margin: 0 -24px 16px -24px;
        }
        [mat-fab-card-float] {
            top: -36px;
            position: absolute;
            right: 8px;
        }
        [mat-card-float-icon] {
            position: absolute;
            right: 15px;
            top: 50%;
            margin-top: -20px;
            width: 40px;
            height: 40px;
            .material-icons {
                font-size: 40px;
                opacity: .2;
                transform: rotate(-5deg);
            }
        }
        [mat-card-widget] {
            height: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            [mat-card-widget-title],
            p {
                margin: 0;
                padding: 0;
                line-height: $headings-line-height !important;
            }
        }
        &.card-widget {
            padding: 20px;
            .card-widget-content {
                display: flex;
                flex-direction: row;
                height: 40px;
                margin: -($gutter/2) 0 $gutter 0;
            }
        }
    }
}

body [dir="rtl"] {
    .mat-card {
        [mat-fab-card-float] {
            right: auto;
            left: 8px;
        }
        [mat-card-float-icon] {
            right: auto;
            left: 15px;
        }
    }
}
