<h1 mat-dialog-title>Enrolamientos</h1>
<div fxLayout="row wrap">
    <div class="layout-content">
        <div fxFlex="100" class="ui-g dashboard">
            <div fxFlex="100" class="card">
                <div fxLayout fxLayoutAlign="end center">
                    <mat-form-field fxFlex="30%">
                        <input matInput (keydown.enter)="applyFilter($event.target.value)" placeholder="Buscar nombre,email">
                    </mat-form-field>
                </div>

                <table mat-table #table [dataSource]="dataSource" matSort >
                    <ng-container matColumnDef="folio">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Folio</th>
                        <td mat-cell *matCellDef="let element"> {{element.folio}} </td>
                    </ng-container>
                    <ng-container matColumnDef="fecha">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Solictud</th>
                        <td mat-cell *matCellDef="let element"> {{element.fecha | date: 'yyyy-MM-dd'}}  </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombres</th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="fisrtLastName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido paterno</th>
                        <td mat-cell *matCellDef="let element"> {{element.fisrtLastName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="secondLastName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido materno</th>
                        <td mat-cell *matCellDef="let element"> {{element.secondLastName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Estatus</th>
                        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                    </ng-container>
                    <ng-container matColumnDef="layerDocument">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Capa documento</th>
                        <td mat-cell *matCellDef="let element" >
                            <a mat-icon-button class="text-link" (click)="dlgLayerDocument(element.folio)">{{element.layerDocument}}</a>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="layerBiometic">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Capa Selfie</th>
                        <td mat-cell *matCellDef="let element"  >
                            <a mat-icon-button class="text-link" (click)="dlgLayerBiometric(element.folio)"> {{element.layerBiometic}}</a>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator #paginator  [pageSize]="pageSize"
                               [pageSizeOptions]="[5, 10, 20]"
                               (page)="pageEvent = $event"
                               showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</div>


