<mat-tab-group>
	<mat-tab label="Datos generales">
		<div fxLayout="row" >
			<mat-label fxFlex="40" fxLayoutAlign="start center">Nombre de proyecto:</mat-label>
			<mat-form-field fxFlex="60" appearance = "standard">
				<input matInput placeholder="Nombre de proyecto">
			</mat-form-field>
		</div>
		<div fxLayout="row" >
			<mat-label fxFlex="40" fxLayoutAlign="start center">Nombre de dependencia:</mat-label>
			<mat-form-field fxFlex="60" appearance = "standard">
				<mat-select>
					<mat-option *ngFor="let dependencia of dependencias" [value]= "dependencia.value"> {{ dependencia.display}}</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div fxLayout="row" >
			<mat-label fxFlex="40" fxLayoutAlign="start center">Categoria:</mat-label>
			<mat-form-field fxFlex="60" appearance = "standard">
				<mat-select>
					<mat-option *ngFor="let categoria of categorias" [value]= "categoria.value"> {{ categoria.display}}</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div fxLayout="row">
			<mat-label fxFlex="25" fxLayoutAlign="start center">Numero de folio:</mat-label>
			<mat-form-field fxFlex="25" appearance = "standard">
				<input matInput placeholder="Numero de folio">
			</mat-form-field>
			<mat-label fxFlex="25" fxLayoutAlign="start center">Fecha de folio:</mat-label>
			<mat-form-field fxFlex="25" appearance = "standard">
				<input matInput placeholder="Fecha de folio">
			</mat-form-field>
		</div>
	</mat-tab>
	<mat-tab label="Descripcion">
		<ckeditor [editor]="Editor" data="<p>Hello, world!</p>" (ready)="onReady($event)"></ckeditor>
	</mat-tab>
	<mat-tab label="Documentacion">
		<filemanager-listado></filemanager-listado>
	</mat-tab>
</mat-tab-group>
<div fxLayout="row" fxLayoutAlign="end center" class="mt-1">
	<button mat-raised-button (click)="openDialog()"><mat-icon>cloud_upload</mat-icon>Documentacion</button>
	<button mat-raised-button color="primary"><mat-icon>save</mat-icon>Registrar medida de integracion</button>
</div>