<div class="login-body">
    <div class="login-panel ui-fluid">
        <div class="ui-g">
            <div class="ui-g-12 logo-container">
                <img src="assets/images/pimalogo.png"/>
                <h1>Recuperar contraseña</h1>
            </div>

            <div fxLayout="row" fxFlex="100">
                <mat-form-field fxFlex="100"  appearance="outline">
                    <mat-label>Ingrese el correo electrónico registrado</mat-label>
                    <input matInput [(ngModel)]="user.email" fxFlex="100" />
                </mat-form-field>
            </div>
            <div fxLayout="row" fxFlex="100" >
                <button mat-raised-button (click)="sendEmail()" color="primary" fxFill fxFlexFill>Enviar correo</button>
            </div>
            <div fxLayout="row"  fxFlex="100" fxLayoutAlign="end">
                <span><a (click)="home()">Ir a inicio</a></span>
            </div>
        </div>
    </div>
</div>
