<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutAlign.xs="start">
	<mat-label>Nombre del proyecto:</mat-label>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutAlign.xs="start">
	<mat-label fxFlex="30">Folio:</mat-label>
	<mat-label fxFlex="30">Fecha:</mat-label>
	<mat-label fxFlex="30">Estado:</mat-label>
</div>
<div fxLayout="row" fxLayoutAlign="start center">
	<mat-label fxFlex="30">Dependencia:</mat-label>
	<mat-label fxFlex="30">Porcentaje:</mat-label>
	<mat-label fxFlex="30">Categoria:</mat-label>
</div>