	<mat-toolbar class="layout-wrapper layout-menu-overlay">
		<div class="topbar">
			<div class="topbar-main" fxLayoutAlign="center">
				<button (click)="toggleSidenav.emit()" mat-icon-button>
					<mat-icon>menu</mat-icon>
				</button>
				<a><img id="logo"  src="assets/images/pimapngw.png" alt="" class="logo"></a>
				<div class="app-name">PIMA</div>
				<span>&nbsp;</span>
				<span fxFlex></span>
				<span id="user-display" fxLayout="column" fxLayoutAlign="end">
					<span class="username">{{ authService.UserAuth.name}} {{ authService.UserAuth.paternalLastName}} {{ authService.UserAuth.motherLastName}}</span>
				</span>
				<button [matMenuTriggerFor]="user" mat-icon-button class="ml-xs">
					<mat-icon>person</mat-icon>
				</button>
				<mat-menu #user="matMenu" x-position="before">
					<button mat-menu-item (click)="passwordchange()" >
						<mat-icon>mode_edit</mat-icon>
						Cambiar contraseña
					</button>

					<button mat-menu-item (click)="logout()">
						<mat-icon>exit_to_app</mat-icon>
						Cerrar sesión
					</button>
				</mat-menu>
			</div>
		</div>
</mat-toolbar>

