<div fxLayout="row" fxLayoutGap="16px">
	<div fxFlex="100">
		<mat-list>
			<mat-list-item>
				<fa-icon matListIcon [icon]="['fas', 'file-word']" size="1x" ></fa-icon>
				<h4 mat-line>Numero de folio 1</h4>
				<p mat-line>02/02/2019</p>
				<span fxFlex></span>
				<a mat-mini-fab>
					<mat-icon>cloud_download</mat-icon>
				</a>
			</mat-list-item>
			<mat-list-item>
				<fa-icon matListIcon [icon]="['fas', 'file-excel']" size="1x" ></fa-icon>
				<h4 mat-line>Numero de folio 1</h4>
				<p mat-line>02/02/2019</p>
				<span fxFlex></span>
				<a mat-mini-fab>
					<mat-icon>cloud_download</mat-icon>
				</a>
			</mat-list-item>
			<mat-list-item>
				<fa-icon matListIcon [icon]="['fas', 'file-powerpoint']" size="1x" ></fa-icon>
				<h4 mat-line>Numero de folio 1</h4>
				<p mat-line>02/02/2019</p>
				<span fxFlex></span>
				<a mat-mini-fab>
					<mat-icon>cloud_download</mat-icon>
				</a>
			</mat-list-item>
			<mat-list-item>
				<fa-icon matListIcon [icon]="['fas', 'file-pdf']" size="1x" ></fa-icon>
				<h4 mat-line>Numero de folio 1</h4>
				<p mat-line>02/02/2019</p>
				<span fxFlex></span>
				<a mat-mini-fab>
					<mat-icon>cloud_download</mat-icon>
				</a>
			</mat-list-item>
			<mat-list-item>
				<fa-icon matListIcon [icon]="['fas', 'file-image']" size="1x" ></fa-icon>
				<h4 mat-line>Numero de folio 8</h4>
				<p mat-line>02/02/2019</p>
				<span fxFlex></span>
				<a mat-mini-fab>
					<mat-icon>cloud_download</mat-icon>
				</a>
			</mat-list-item>
		</mat-list>
	</div>
</div>
