<mat-tab-group>
	<mat-tab label="Datos general">
		<div fxLayout="column">
			<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px">
				<div fxFlex="50">
					<h3>
						<strong>Medida de integracion</strong>
						<span fxFlex></span>
					</h3>
					<p>
						Medida de integracion
					</p>
				</div>
				<div fxFlex="50">
					<h3>
						<strong>Avance</strong>
						<span fxFlex></span>
					</h3>
					<p>
						Avance
					</p>
				</div>
			</div>
		</div>
	</mat-tab>
	<mat-tab label="Documentacion">
		<div fxLayout="row" fxLayoutAlign="end center" class="mt-1">
			<button mat-raised-button color="primary" (click)="openDialog()"><mat-icon>cloud_upload</mat-icon>Documentacion</button>
		</div>
		<filemanager-listado></filemanager-listado>
	</mat-tab>
</mat-tab-group>
