<div fxLayout="row wrap">
	<div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
		<mat-card class="card-widget mat-bg-primary">
			<div mat-card-widget>
				<div mat-card-float-icon>
					<mat-icon>local_offer</mat-icon>
				</div>
				<div class="pl-0">
					<h2 mat-card-widget-title>103</h2>
					<p>Dictaminados</p>
				</div>
			</div>
		</mat-card>
	</div>
	<div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
		<mat-card class="card-widget mat-bg-accent">
			<div mat-card-widget>
				<div mat-card-float-icon>
					<mat-icon>email</mat-icon>
				</div>
				<div class="pl-0">
					<h2 mat-card-widget-title>870</h2>
					<p>Concluidos</p>
				</div>
			</div>
		</mat-card>
	</div>
	<div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
		<mat-card class="card-widget mat-purple">
			<div mat-card-widget>
				<div mat-card-float-icon>
					<mat-icon>phone</mat-icon>
				</div>
				<div class="pl-0">
					<h2 mat-card-widget-title>230</h2>
					<p>Pendientes</p>
				</div>
			</div>
		</mat-card>
	</div>
	<div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
		<mat-card class="card-widget mat-red">
			<div mat-card-widget>
				<div mat-card-float-icon>
					<mat-icon>notifications</mat-icon>
				</div>
				<div class="pl-0">
					<h2 mat-card-widget-title>323</h2>
					<p>Atrasados</p>
				</div>
			</div>
		</mat-card>
	</div>
</div>
<div fxLayout="row wrap">
	<div fxFlex.gt-sm="66.66%" fxFlex="100">
		<ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="0"
		               [rowHeight]="'auto'">
			<ngx-datatable-column name="Impacto Urbano">
				<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
					{{row['project']}}
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column name="Fecha de inicio">
				<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
					{{row['date'] | date: 'MMMM dd'}}
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column name="Avance de opciones">
				<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
					<mat-progress-bar mode="determinate" value="{{row['progress']}}" color="primary"></mat-progress-bar>
				</ng-template>
			</ngx-datatable-column>
		</ngx-datatable>
	</div>
	<div fxFlex.gt-sm="33.33%" fxFlex="100">
		<mat-card>
			<mat-card-header>
				<mat-card-title>Notificaciones</mat-card-title>
				<mat-card-subtitle>Stories posted today</mat-card-subtitle>
			</mat-card-header>
			<mat-list class="my-xs">
				<ng-template let-item let-last="last" ngFor [ngForOf]="messages">
					<mat-list-item>
						<img mat-list-avatar src="{{item.photo}}" alt="">
						<h3 matLine> {{item.from}} </h3>
						<p matLine> {{item.subject}} - {{item.message}} </p>
					</mat-list-item>
				</ng-template>
			</mat-list>
		</mat-card>
	</div>
</div>

